
@{
    ViewBag.Title = "Error";
}

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Error!</h1>
            <p class="lead">Something's not right.</p>
        </div>
    </div>

    <hr />

    <br />
    <h3>Login Error</h3>

    <hr />

    <p>Oops, it seems you aren't logged in yet to review or loan a book.</p>
    <p>Go to the navbar and either log in or register to continue.</p>


</body>


