
@{
    ViewBag.Title = "Login Error";
}

<body>
    <h1 style="font-size: 80px">Error!</h1>
    <h3>No login credentials.</h3>
    <hr />

    <h4 style="font-weight: 300">Oops, it seems you aren't logged in yet to review or loan a book.</h4>
    <h4 style="font-weight: 300">Go to the navbar and either log in or register to continue.</h4>


</body>


