@model IEnumerable<Team2LibraryProject_01.Models.Loan>

@{
    ViewBag.Title = "Index";
    var completedLoan = ViewBag.CompletedLoan as List<Team2LibraryProject_01.Models.Loan>;
    string message = TempData["Success"] as string;
}

    @using GridMvc.Html

<h1 style="font-size: 80px">Book Check-Ins</h1>
<h3>The hub for all loans, pending and completed.</h3>
<hr />

@if (!String.IsNullOrEmpty(message))
{
    <hr />
    <div class="message">
        <p style="color: darkorange; text-align: center">@message</p>
    </div>
    <hr />
}

<div class="row">
    <div class="col-md-12">
        <h3>All Completed Loans</h3>

        @{
            var completeGrid = new WebGrid(source: completedLoan);
        }

        @Html.Grid(completedLoan).Columns(columns =>
                              {
                                  columns.Add(model => model.LoanID,"lID").Titled("Loan ID");
                                  columns.Add(model => model.CardNo, "cNo").Titled("Member Card Number");
                                  columns.Add(model => model.Member.FName, "fN").Titled("Member First Name");
                                  columns.Add(model => model.Member.LName, "lN").Titled("Member Last Name");
                                  columns.Add(model => model.ItemID, "iID").Titled("Item ID");
                                  columns.Add(model => model.Title, "tt").Titled("Title");
                                  columns.Add(model => model.CheckOutDate, "coD").Titled("Checkout Date").Format("{0:MM/dd/yyyy}");
                                  columns.Add(model => model.DueDate, "dD").Titled("Due Date").Format("{0:MM/dd/yyyy}");
                                  columns.Add(model => model.ReturnDate, "rD").Titled("Return Date").Format("{0:MM/dd/yyyy}");
                                  columns.Add(model => model.Fines, "fn").Titled("Fines");
                              }).WithPaging(10, 10, "paging1").Sortable(true)
        </div>
        <hr />
    </div>
<div class="row">
    <div class="col-md-12">
        <h3>All Pending Loans</h3>

        @{
            var pendingGrid = new WebGrid(source: Model);
        }

        @Html.Grid(Model).Columns(columns =>
                              {
                                  columns.Add(model => model.LoanID).Titled("Loan ID");
                                  columns.Add(model => model.CardNo).Titled("Member Card Number");
                                  columns.Add(model => model.Member.FName).Titled("Member First Name");
                                  columns.Add(model => model.Member.LName).Titled("Member Last Name");
                                  columns.Add(model => model.ItemID).Titled("Item ID");
                                  columns.Add(model => model.Title).Titled("Title");
                                  columns.Add(model => model.CheckOutDate).Titled("Checkout Date").Format("{0:MM/dd/yyyy}");
                                  columns.Add(model => model.DueDate).Titled("Due Date").Format("{0:MM/dd/yyyy}");
                                  columns.Add(model => model.Fines).Titled("Fines");
                              }).WithPaging(10).Sortable(true)


    </div>
    <hr />
    <div class="col-md-12">
        @using (Html.BeginForm())
        {
            <h4>Select Book Item to Check-In</h4>
            <p>
                @Html.DropDownList("ItemID", null, htmlAttributes: new { @class = "form-control" })
            </p>
            <br />
            <p style="color: red">DISCLAIMER: By checking in, you confirm that the member has paid all the fees, if any are applicable.</p>
            <br />
            <h4><input type="submit" value="Confirm Check-In" /></h4>
        }
    </div>
</div>