@{
    ViewBag.Title = "Home Page";
}

<div class="jumbotron">
    <h1>Library</h1>
    <p class="lead">Welcome to the Team 2 Library Home Page.</p>
</div>

<div class="row">
    <div class="col-md-4">
        <h2>Still Getting Started</h2>
        <p>
            This project is frankly still in its early stages, so the site is barebones at the moment. Feel
            free to take a look around though.
        </p>
    </div>
    <div class="col-md-4">
        <h2>Things To Do:</h2>
        <p>Get the login system up and running</p>
        <p>Have the reservations and loans relations set up</p>
        <p>Improve website layout</p>
    </div>
    <div class="col-md-4">
        <h2>Web Hosting</h2>
        <p>We'll get to that.</p>
    </div>
</div>