@{
    ViewBag.Title = "About";
    ViewBag.Message = "The story of Team 2 Library";
}

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>About</h1>
            <p class="lead">The thrilling tale of Team 2 Library. Read all about it.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Meet the Team</h2>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h2>Inspiration</h2>
            <p style="font-size: 16px">
                During our development, we have spent much time at the UH library in
                order to do on-site research into how a library is organized and operated.
            </p>
            <p style="font-size: 16px">
                The idea is to have a library system that works both as an on-site facility and an online catalog,
                providing existing and potential users with access to the books available and check them out
                once they visit the building. They can track their actions such as loans, reservations and reviews
                online via the member page (aka The Lounge) and have them alerted to overdue books.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h2>Technologies</h2>
            <p style="font-size: 16px">
                The Team 2 Library was created for COSC 3380 using various programs and services:
            </p>
        </div>
            <br />
            <div class="col-md-6">
                <a href="http://www.vertabelo.com/" target="_blank"><img src="~/Content/Images/About/vertabelo_logo.png" alt="vertabelo" class="img-center"></a>
                <p style="font-size: 16px">
                    <br />
                    Used for database schema design and tweaking, as well as for exporting with IDE-specific
                    target syntax for flexibility and compatibility.
                </p>
            </div>
            <div class="col-md-6">
                <a href="https://www.visualstudio.com/" target="_blank"><img src="~/Content/Images/About/vs_logo.png" alt="vs2013" class="img-center"></a>
                    <p style="font-size: 16px">
                        <br />
                        The main development environment for the production and development of the project.
                        The team uses the 2013 version with additional NuGet packages.
                    </p>
            </div>
        </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <a href="http://www.microsoft.com/en-us/server-cloud/products/sql-server/" target="_blank"><img src="~/Content/Images/About/sql_logo.png" alt="sqlstudio" class="img-center"></a>
                <p style="font-size: 16px">
                    <br />
                    SQL Server Management studio is the tool for database monitoring, including
                    various transactions and detection of erroneous data entries.
                </p>
        </div>
        <div class="col-md-6">
            <a href="http://azure.microsoft.com/en-us/" target="_blank"><img src="~/Content/Images/About/azure_logo.png" alt="azure" class="img-center"></a>
            <p style="font-size: 16px">
                <br />
                The database is hosted in Microsoft Azure, the company's own cloud-based solution
                for developing, deploying, and managing online applications.
            </p>
        </div>
    </div>
    <br />
    <div class="row">
    <div class="col-md-6">
        <a href="https://github.com/" target="_blank"><img src="~/Content/Images/About/github_logo.png" alt="github" class="img-center"></a>
        <p style="font-size: 16px">
            <br />
            To accelerate product development, GitHub is used to continually update
            and manage versions done by each member. The repository can be found
            <a href="https://github.com/tabrown3/Team2Library">here</a>.
        </p>
    </div>
    <div class="col-md-6">
        <a href="https://www.atlassian.com/software/sourcetree/overview" target="_blank"><img src="~/Content/Images/About/sourcetree_logo.png" alt="sourcetree" class="img-center"></a>
        <p style="font-size: 16px">
            <br />
            Version control on GitHub is managed via SourceTree, which handles local
            and remote branch production, merging, and conflict resolution.
        </p>
    </div>
    </div>
</body>