@{
    ViewBag.Title = "About";
    ViewBag.Message = "The story of Team 2 Library";
}

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>About</h1>
            <p class="lead">The thrilling tale of Team 2 Library. Read all about it.</p>
        </div>
    </div>

    <div class="row">
        <div class="col-md-12">
            <h2>Meet the Team</h2>

            <!--Carousel Stuff = Does all that fancy transition-->
            <div id="IndexCarousel" class="carousel slide">
                <ol class="carousel-indicators">
                    <li data-target="#carousel" data-slide-to="0" class="active"></li>
                    <li data-target="#carousel" data-slide-to="1"></li>
                    <li data-target="#carousel" data-slide-to="2"></li>
                    <li data-target="#carousel" data-slide-to="3"></li>
                    <li data-target="#carousel" data-slide-to="4"></li>
                </ol>

                <div class="carousel-inner">
                    <div class="item active">
                        <img src="~/Content/Images/Team/zach.jpg" alt="zach" class="img-responsive">
                        <div class="carousel-caption">
                            <h2 align="left" style="font-size: 48px; color: ghostwhite">Zachary Dugat</h2>
                            <p class="lead" align="left" style="color: ghostwhite">Reviews. Triggers.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/Content/Images/Team/tim.jpg" alt="tim" class="img-responsive">
                        <div class="carousel-caption">
                            <h2 align="left" style="font-size: 48px; color: ghostwhite">Timothy Brown</h2>
                            <p class="lead" align="left" style="color: ghostwhite">Reports. Logic. Azure.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/Content/Images/Team/jay.jpg" alt="jay" class="img-responsive">
                        <div class="carousel-caption">
                            <h2 align="left" style="font-size: 48px; color: ghostwhite">Jay Brandin</h2>
                            <p class="lead" align="left" style="color: ghostwhite">Inventory. Schema.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/Content/Images/Team/jon.jpg" alt="jon" class="img-responsive">
                        <div class="carousel-caption">
                            <h2 align="left" style="font-size: 48px; color: ghostwhite">Jon Calanio</h2>
                            <p class="lead" align="left" style="color: ghostwhite">Login. Catalog. UI.</p>
                        </div>
                    </div>

                    <div class="item">
                        <img src="~/Content/Images/Team/dan.jpg" alt="dan" class="img-responsive">
                        <div class="carousel-caption">
                            <h2 align="left" style="font-size: 48px; color: ghostwhite">Dan Burns</h2>
                            <p class="lead" align="left" style="color: ghostwhite">Loans. Reservations.</p>
                        </div>
                    </div>
                </div>

                <a class="carousel-control left" href="#IndexCarousel" data-slide="prev">
                    <span class="glyphicon glyphicon-chevron-left"></span>
                </a>
                <a class="carousel-control right" href="#IndexCarousel" data-slide="next">
                    <span class="glyphicon glyphicon-chevron-right"></span>
                </a>
            </div>
            <!--End Carousel-->

        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h2>Inspiration</h2>
            <p style="font-size: 16px">
                During our development, we have spent much time at the M.D. Anderson library in
                order to do on-site research into how a library is organized and operated.
            </p>
            <p style="font-size: 16px">
                The idea is to have a library system that works both as an on-site facility and an online catalog,
                providing existing and potential users with access to the books available and check them out
                once they visit the building. They can track their actions such as loans, reservations and reviews
                online via the member page (aka The Lounge) and have them alerted to overdue books.
            </p>
            <p style="font-size: 16px">
                The admin, or head librarian, handles all book checkouts and check-ins - emulating how actual
                libraries usually require physical assistance on those activities. This individual is also
                responsible for monitoring the inventory, member list, and book catalog and could have certain
                abilities to add, edit, and remove them.
            </p>
        </div>
    </div>
    <hr />
    <div class="row">
        <div class="col-md-12">
            <h2>Technologies</h2>
            <p style="font-size: 16px">
                The Team 2 Library was created for COSC 3380 using various programs and services:
            </p>
        </div>
            <br />
            <div class="col-md-6">
                <a href="http://www.vertabelo.com/" target="_blank"><img src="~/Content/Images/About/vertabelo_logo.png" alt="vertabelo" class="img-center"></a>
                <p style="font-size: 16px">
                    <br />
                    Used for database schema design and tweaking, as well as for exporting with IDE-specific
                    target syntax for flexibility and compatibility.
                </p>
            </div>
            <div class="col-md-6">
                <a href="https://www.visualstudio.com/" target="_blank"><img src="~/Content/Images/About/vs_logo.png" alt="vs2013" class="img-center"></a>
                    <p style="font-size: 16px">
                        <br />
                        The main development environment for the production and development of the project.
                        The team uses the 2013 version with additional NuGet packages.
                    </p>
            </div>
        </div>
    <br />
    <div class="row">
        <div class="col-md-6">
            <a href="http://www.microsoft.com/en-us/server-cloud/products/sql-server/" target="_blank"><img src="~/Content/Images/About/sql_logo.png" alt="sqlstudio" class="img-center"></a>
                <p style="font-size: 16px">
                    <br />
                    SQL Server Management studio is the tool for database monitoring, including
                    various transactions and detection of erroneous data entries.
                </p>
        </div>
        <div class="col-md-6">
            <a href="http://azure.microsoft.com/en-us/" target="_blank"><img src="~/Content/Images/About/azure_logo.png" alt="azure" class="img-center"></a>
            <p style="font-size: 16px">
                <br />
                The database is hosted in Microsoft Azure, the company's own cloud-based solution
                for developing, deploying, and managing online applications.
            </p>
        </div>
    </div>
    <br />
    <div class="row">
    <div class="col-md-6">
        <a href="https://github.com/" target="_blank"><img src="~/Content/Images/About/github_logo.png" alt="github" class="img-center"></a>
        <p style="font-size: 16px">
            <br />
            To accelerate product development, GitHub is used to continually update
            and manage versions done by each member. The repository can be found
            <a href="https://github.com/tabrown3/Team2Library">here</a>.
        </p>
    </div>
    <div class="col-md-6">
        <a href="https://www.atlassian.com/software/sourcetree/overview" target="_blank"><img src="~/Content/Images/About/sourcetree_logo.png" alt="sourcetree" class="img-center"></a>
        <p style="font-size: 16px">
            <br />
            Version control on GitHub is managed via SourceTree, which handles local
            and remote branch production, merging, and conflict resolution.
        </p>
    </div>
    </div>
</body>