@{
    ViewBag.Title = "About";
    ViewBag.Message = "The story of Team 2 Library";
}

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>About</h1>
            <p class="lead">The thrilling tale of Team 2 Library</p>
        </div>
    </div>

    <p>Team 2 Library was created for COSC 3380 using C#, ASP.NET, and hosted on an Azure database. Version control was handled by SourceTree and hosted on Git Hub, the repo can be found <a href="https://github.com/tabrown3/Team2Library">here</a> </p>
    <p>During our development, we spent a lot of time at UH's library in order to do on-site research into how a library is organized and operates. </p>
</body>