@model IEnumerable<Team2LibraryProject_01.Models.Book>

@{
    ViewBag.Title = "Books";

    string message = TempData["Success"] as string;
}

<body>
    <div class="jumbotron">
        <div class="container">
            <h1>Book Catalog</h1>
            <p class="lead">Choose from our growing selection of books.</p>
        </div>
    </div>

    @if(!String.IsNullOrEmpty(message))
    {
        <div class="message">
            <p style="color: darkorange">@message</p>
        </div>
    }
    
    <br />

    @foreach (var item in Model)
    {
        string input = item.Title;
        string output = item.ISBN;
        string thumbOut = item.ISBN + ".png";
        <div class="col-lg-3 col-sm-4 col-xs-6" align="center">
            <a href="/Books/BookDetails/@output"><img src="~/Content/Images/Thumbs/@thumbOut" onerror="this.onerror = null; this.src = 'http://placehold.it/170x250';" align="middle"></a>
            <br />
            <br />
            <p style="font-size: 14px; font-weight: 500">@Html.DisplayFor(modelItem => item.Title)</p>
            <br />
            <br />
        </div>
    }

</body>
