@{
    ViewBag.Title = "Home Page";
}

<div class="container-full">
    <!-- Section 1 -->
    <section id="intro" data-speed="6" data-type="background"></section>
    <!-- Section 2 -->
    <section id="home" data-speed="4" data-type="background">
        <div class="container-fluid">
            <div class="row">
                <div class="col-md-12">
                    <h1 style="text-align: center; font-size: 100px">Team 2 Library</h1>
                </div>
            </div>
            <hr />
            <div class="row">
                @if (ViewBag.Alert != null)
                {
                    <hr />
                    <h4 style="color: red; font-weight: 300">@ViewBag.Alert</h4>
                    <hr />
                }
                <br />
                <div class="col-md-4">
                    <h2 align="center" style="font-size: 36px">Library Overview</h2>
                    <p>
                        The T2 Library is committed in providing quality experience with its unique
                        catalog of books, as well as competitive rental rates for prolific readers.
                    </p>
                </div>
                <div class="col-md-4">
                    <h2 align="center" style="font-size: 36px">Online Services</h2>
                    <p>
                        The library's robust online database ensures great service across its members.
                        Sign up today to receive unique benefits and content!
                    </p>
                </div>
                <div class="col-md-4">
                    <h2 align="center" style="font-size: 36px">Powerful Search</h2>
                    <p>
                        Need to find a specific title? Want to filter down your choices? Hit the Search
                        link on top to see if we have your favorites.
                    </p>
                </div>
            </div>
        </div>
    </section>
    <!-- Section 3 -->
    <section id="about" data-speed="2" data-type="background"></section>
</div>